@mixin aspect-ratio($padding-bottom: percentage(2/3), $max-height: auto) {
    position: relative;
    max-height: $max-height;
    overflow: hidden;

    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-bottom: $padding-bottom;
    }

    > .inner {
        position: absolute;
        width: 100%; height: 100%;
        left: 0; top: 0;
    }
}

@mixin max-width-base($max-width) {
    @include make-container();
    position: relative;
    
    @media (max-width: $max-width + 140) and (min-width: map-get($grid-breakpoints, sm)) {
        max-width: $max-width-perc;
    }
}

@mixin max-width-1() {
    @include max-width-base($max-width-1);
    max-width: $max-width-1;
}

@mixin max-width-2() {
    @include max-width-base($max-width-2);
    max-width: $max-width-2;
}

@mixin max-width-3() {
    @include max-width-base($max-width-3);
    max-width: $max-width-3;
}

@mixin full-width() {
    width: 100%;
    overflow: hidden;
}

// Vertical Centering

@mixin xy-centered() {
    position: absolute;;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    // @transform: translate(-50%, -50%);
}

@mixin y-centered() {
    position: absolute;;
    top: 50%;
    left: 0;
    transform:translate(-50%, 0);
}


@mixin update-grid-gutter-width($grid-gutter-width: $grid-gutter-width / 2) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$grid-gutter-width;
    margin-right: -$grid-gutter-width;

    > [class*=col] {
        padding-left: $grid-gutter-width;
        padding-right: $grid-gutter-width;
    }
}
