.cms-grid {
    @include make-col(24);
    display: flex;
    flex-wrap: wrap;
    max-width: none;

    > .column {
        width: 100%;
    }

    @include media-breakpoint-down(xs) {
        margin: -15px;

        > .column {
            padding: 15px;
        }

        &.num-col-xs-1 {
            margin: -25px -15px;

            > .column {
                 padding: 25px 15px;
             }
        }
    }

    &.cells-space-small {
        @include media-breakpoint-up(sm) {
            margin: -10px;

            > .column {
                padding: 10px;
            }
        }
    }

    &.cells-space-default {
        @include media-breakpoint-up(sm) {
            margin: -20px;

            > .column {
                padding: 20px;
            }
        }
    }

    &.cells-space-big {
        @include media-breakpoint-up(sm) {
            margin: -30px;

            > .column {
                padding: 30px;
            }
        }

        @include media-breakpoint-up(md) {
            margin: -60px;

            > .column {
                padding: 60px;
            }
        }
    }

    &.has-divider {
        align-items: stretch;

        > .column:nth-child(1n+2):before {
            top: 15px;
            bottom: 15px;
        }

        @include media-breakpoint-up(sm) {
            &.cells-space-small > .column:nth-child(1n+2):before {
                top: 10px;
                bottom: 10px;
            }

            &.cells-space-default > .column:nth-child(1n+2):before {
                top: 20px;
                bottom: 20px;

            }

            &.cells-space-big > .column:nth-child(1n+2):before {
                top: 30px;
                bottom: 30px;

            }
        }

        @include media-breakpoint-up(md) {
            &.cells-space-big > .column:nth-child(1n+2):before {
                top: 60px;
                bottom: 60px;
            }
        }

        > .column {
            position: relative;

            &:nth-child(1n+2):before {
                content: '';
                position: absolute;
                left: -$border-width / 2;
                width: $border-width;
                border-left: $border-width solid $divider-line-color;
            }
        }
    }

    &.cells-vertical-allign-top { align-items: flex-start;}
    &.cells-vertical-allign-center { align-items: center;}
    &.cells-vertical-allign-bottom { align-items: flex-end;}

    @include media-breakpoint-only(xs) {
        &.num-col-xs-1 { > .column { width: 100%; } }
        &.num-col-xs-2 { > .column { width: 50%; } }
    }

    @include media-breakpoint-up(sm) {
        &.num-col-sm-1 { > .column { width: 100%; } }
        &.num-col-sm-2 { > .column { width: 50%; } }
        &.num-col-sm-3 { > .column { width: percentage(1 / 3); } }
        &.num-col-sm-4 { > .column { width: 25%; } }
    }

    @include media-breakpoint-up(md) {
        &.num-col-md-1 { > .column { width: 100%; } }
        &.num-col-md-2 { > .column { width: 50%; } }
        &.num-col-md-3 { > .column { width: percentage(1 / 3); } }
        &.num-col-md-4 { > .column { width: 25%; } }
    }

    @include media-breakpoint-up(lg) {
        &.num-col-lg-1 { > .column { width: 100%; } }
        &.num-col-lg-2 { > .column { width: 50%; } }
        &.num-col-lg-3 { > .column { width: percentage(1 / 3); } }
        &.num-col-lg-4 { > .column { width: 25%; } }
    }

    &.col-small-first {
        @include media-breakpoint-up(md) {
            > .column:nth-child(1) { width: 40%; }
            > .column:nth-child(2) { width: 60%; }
        }

        // @include media-breakpoint-up(md) {
        //     > .column:nth-child(1) { width: 30%; }
        //     > .column:nth-child(2) { width: 70%; }
        // }
    }

    &.col-big-first {
        @include media-breakpoint-up(md) {
            > .column:nth-child(1) { width: 60%; }
            > .column:nth-child(2) { width: 40%; }
        }

        // @include media-breakpoint-up(md) {
        //     > .column:nth-child(1) { width: 70%; }
        //     > .column:nth-child(2) { width: 30%; }
        // }
    }

    &.col-small-first-2 {
        @include media-breakpoint-up(md) {
            > .column:nth-child(1) { width: 40%; }
            > .column:nth-child(2) { width: 60%; }
        }
    }

    &.col-big-first-2 {
        @include media-breakpoint-up(md) {
            > .column:nth-child(1) { width: 60%; }
            > .column:nth-child(2) { width: 40%; }
        }
    }

    // several boxes in one row. For example: Products overview, Services
    &.cards {
        .column {
            > * {
                @extend .card;

                .text-plugin {
                    @extend .card-body;
                }
                height: 100%;
            }
        }
    }
}

.column {
    img {
        max-width: 100%;
        height: auto;
    }

    &.horizontal {
        @include media-breakpoint-up(sm) {
            > div {
                display: flex;
                justify-content: space-between;
                margin-left: -15px;
                margin-right: -15px;

                > * {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
    }
}

.space-top-none { padding-top: 0; }
.space-top-small { padding-top: $spacing-2; }
.space-top-medium { padding-top: $spacing-3; }
.space-top-big { padding-top: $spacing-4; }

.space-bottom-none { padding-bottom: 0; }
.space-bottom-small { padding-bottom: $spacing-2; }
.space-bottom-medium { padding-bottom: $spacing-3; }
.space-bottom-big { padding-bottom: $spacing-4; }
