.slick-dots li {
    margin: 0 3px;

    button:before {
        color: black;
        font-size: 9px;
        opacity: 1;
    }

    &.slick-active button:before {
        color: $orange;
        opacity: 1;
    }

    .no-touchevents & {
        transition: transform 200ms;

        &:hover {
            transform: scale(1.25);
        }
    }
}

// arrows based on center
// .slick-prev, .slick-next {
//     left: 50%;
//     transform: translate(-50%, 0);
//     width: 20px; height: 20px;
//     visibility: hidden;
//
//     &:before {
//         @include icomoon;
//         font-size: 26px;
//         color: black;
//         opacity: 1;
//     }
//
//     .no-touchevents & {
//         &:before {
//             transition: transform 200ms;
//             transform-origin: 50%;
//             display: block;
//         }
//
//         &:hover {
//             &:before {
//                 transform: scale(1.3);
//             }
//         }
//     }
// }

// arrows on the sides
.slick-prev, .slick-next {
    left: 50%;
    transform: translate(-50%, 0);
    width: auto; height: auto;
    // visibility: hidden;

    top: 5px;
    z-index: 180;

    &:before {
        @include icomoon;
        font-size: 20px;
        opacity: 1;
    }

    .no-touchevents & {
        &:before {
            transition: transform 200ms;
            transform-origin: 50%;
            display: block;
        }

        &:hover {
            &:before {
                transform: scale(1.3);
            }
        }
    }
}

.slick-prev {
    margin-left: -180px;

    @media (min-width: 650px) {
        margin-left: -300px;
    }

    &:before {
        content: $icomoon-icon-arrow-2-left;
    }
}

.slick-next {
    margin-left: 180px;

    @media (min-width: 650px) {
        margin-left: 300px;
    }

    &:before {
        content: $icomoon-icon-arrow-2-right;
    }
}


@media (min-width: 650px) {
    .slick-prev {
        margin-left: -300px;
    }

    .slick-next {
        margin-left: 300px;
    }
}

@media (max-width: 420px) {
    .slick-prev {
        margin-left: 0;
        left: 15px;
    }

    .slick-next {
        margin-left: 0;
        left: auto;
        right: 15px;
    }

    .slick-prev,
    .slick-next {
        transform: none;
    }
}

.slick-dots  {
    position: absolute;
    width: auto;
    left: 50%;
    transform:translate(-50%, -50%);
}

.carousell {
    visibility: hidden;

    .text-plugin {
        max-width: 700px;
        margin: 0 auto;
        text-align: center;
    }
}
