.underlined {
    border-bottom: $border-width solid $title-underline-color;;
    padding-bottom: 5px;
}

.sidelines {
    text-align:center;

    @include media-breakpoint-down(xs) {
        border-bottom: $border-width solid $title-sidelines-color;
        padding-bottom: 5px;
    }

    @include media-breakpoint-up(sm) {
        position:relative;
        overflow:hidden;

        &:before, &:after {
            content:" ";
            position:absolute;
            top:50%;
            margin-left:-999.5em;
            height: $border-width;
            width:999em;
            border-top:$border-width solid $title-sidelines-color;
        }

        &:after {
            left:auto;
            width:999em;
            margin:0 0 0 0.5em;
        }
    }
}
