.bubble {
	display: none;
	position: fixed;
		top: 160px;
		right: 30px;
	z-index: 999;

	@include media-breakpoint-up(lg) {
		display: block;
	}
	
	a {
		display: block;
	}

	img {
		max-width: 220px;
		height: auto;
		width: 100%;
	}
}