// #############################################################################
// Social Media Links
$social-icons-spacing:            6px;
$social-media-container-radius:   40px;
$social-media-container-size:     50px; // width and height
$social-media-container-bg:       #ccc; // width and height
$social-media-container-border:   none;
$social-media-icons-size:         26px; // font size of icons
$social-media-hover-opacity:      0.8;

$bg-instagram:                    #bc2a8d; // brand color:  #bc2a8d
$color-instagram:                 $white;
$border-instagram:                none;
$border-hover-instagram:          none;

$bg-facebook:                     #3b5998; // brand color:  #3b5998
$color-facebook:                  $white;
$border-facebook:                 none;
$border-hover-facebook:           none;

$bg-twitter:                      #00aced; // brand color:  #00aced
$color-twitter:                   $white;
$border-twitter:                  none;
$border-hover-twitter:            none;

$bg-pinterest:                    #cb2027; // brand color:  #cb2027
$color-pinterest:                 $white;
$border-pinterest:                none;
$border-hover-pinterest:          none;

$bg-youtube:                      #bb0000; // brand color:  #bb0000
$color-youtube:                   $white;
$border-youtube:                  none;
$border-hover-youtube:            none;

$bg-xing:                         #026466; // brand color:  #026466
$color-xing:                      $white;
$border-xing:                     none;
$border-hover-xing:               none;

$bg-linkedin:                     #0077B5; // brand color:  #0077B5
$color-linkedin:                  $white;
$border-linkedin:                 none;
$border-hover-linkedin:           none;

$bg-googleplus:                   #dd4b39; // brand color:  #dd4b39
$color-googleplus:                $white;
$border-googleplus:               none;
$border-hover-googleplus:         none;